$break-small: 719px;

body {
  font-family: -apple-system, "Open Sans", sans-serif;

  background-color: $bg_color_next;
  color: #797283;

  p {
    font-family: -apple-system, "Open Sans", sans-serif;
  }

  h1, h2, h3, h4, h5, h6, p {
    font-family: -apple-system, "Open Sans", sans-serif;
    color: $white;
  }

  a {
    color: #8953B7;

    &:hover, &:active {
      color: fade_out($white, .10);
    }
  }

  header {
    display: block;
    padding: 15px 0;

    .logo {
      img {
        width: 250px;
      }
    }
  }

  .page-header {
    text-align: center;
    padding: 25px 0 75px 0;
    border-radius: 0px 0px 40px 40px;
    margin-bottom: 60px;

    @media screen and (max-width: $break-small) {
      padding-top: 1px;
      padding-bottom: 50px;

      flex-direction: column;
      align-items: center;

      h1, h2 {
        padding-top: 0;
      }
    }

    h1 {
      font-size: 46px;
      color: $white;
      padding: 0 0 15px 0;
      line-height: 54px;
      margin-bottom: 15px;
    }

    h2 {
      font-size: 36px;
      font-style: normal;
      font-weight: bold;
      color: #1E1C21;
      line-height: 54px;
    }

    p {
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 34px;
      color: $white;
    }

    img {
      margin-top: 20px;
      max-width: 100%;
      margin-bottom: 40px;
    }

    &.home {
      padding-bottom: 30px;
    }
  }

  .top-menu {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: $break-small) {
      flex-direction: column;
      align-items: center;
      .logo, .get-started {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
    @media screen and (min-width: $break-small) {
      .get-started {
        align-items: flex-end;
        flex-direction: column;
        display: inline-flex;
      }
    }
  }

  .features {
    .feature__item {
      padding: 50px 0;

      .row {
        display: flex;
        flex-wrap: wrap;

        .col-6 {
          align-self: center;
        }
      }

      .feature__content {
        justify-content: center;
        display: flex;
        flex-direction: column;

        h2 {
          font-size: 36px;
          font-weight: bold;
          margin-bottom: 15px;
          color: $white;
        }

        p {
          font-size: 18px;
          line-height: 26px;
          color: $white;
        }
      }

      .thumbnail {
        img {
          max-width: 100%;
        }
      }
    }

    @media screen and (max-width: $break-small) {
      .col-6.first {
        order: 1;
      }

      .col-6 {
        order: 2;
      }

      .content {
        text-align: center;
        display: block !important;
        margin: 0;
      }

      h2 {
        margin-top: 10px;
      }
    }
  }

  .call-to-action {
    background-color: #8953B7;
    color: #ffffff;
    padding: 65px 0;
    border-radius: 40px 40px 0px 0px;

    .container {
      display: flex;

      @media screen and (max-width: $break-small) {
        display: block;

        .call-to-action__content {
          text-align: center;
        }
      }
    }

    .button {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      @media screen and (max-width: $break-small) {
        display: block;
        width: 100%;
        margin-top: 30px;
      }

      a {
        font-size: 18px;
        background-color: #ffffff;
        width: 184px;
        margin-left: auto;
        border-radius: 4px;
        height: 54px;
        display: flex;
        text-align: center;
        justify-content: center;
        font-weight: bold;
        flex-direction: column;
        color: #8953B7;

        @media screen and (max-width: $break-small) {
          margin: 0 auto;
        }

        &:active {

        }
      }
    }

    .call-to-action__content {
      h2 {
        font-size: 36px;
        font-family: Inter;
        font-weight: 600;
        margin: 0 0 32px;
        color: #ffffff;
      }

      p {
        font-size: 18px;
        line-height: 32px;
      }
    }
  }

  .content {
    line-height: 26px;
    margin: 47px 0 23px;

    p {
      margin: 0 0 16px;
    }

    .title {
      margin: 0 0 44px;
    }
  }

  .targets {
    margin: 120px 0 0;

    .title {
      text-align: center;
      font-size: 26px;
      margin-bottom: 99px;
      color: #1E1C21;
    }

    .item {
      margin: 0 0 60px 0;

      h3 {
        font-size: 18px;
        margin: 5px 0 0;
      }

      p {
        font-size: 18px;
        line-height: 26px;
      }
    }
  }

  footer {
    padding: 120px 0 45px;

    @media screen and (max-width: $break-small) {
      padding: 50px 0 45px;
    }

    .widget__item {
      @media screen and (max-width: $break-small) {
        padding: 15px 0 0;
      }

      .about {
        margin-top: 26px;
      }

      .about {
        font-size: 14px;
        line-height: 23px;
      }

      .links {
        h4 {
          font-size: 14px;
          font-weight: bold;
          text-transform: uppercase;
          font-family: Inter;
          line-height: 0;
        }

        ul {
          margin: 15px 0 0 0;

          li {
            line-height: 26px;

            a {
              font-size: 14px;
              color: #797283;

              &:hover, &:active {
                color: fade_out($white, .10);
              }
            }
          }
        }

        .links__special {
          background-color: #8953b7;
          color: #ffffff;
          border-radius: 4px;
          padding: 2px 5px;

          &:hover {
            color: #ffffff;
          }
        }
      }

      .social {
        text-align: right;

        @media screen and (max-width: $break-small) {
          text-align: center;
        }

        a {
          margin-left: 20px;

          img {
            filter: contrast(0);
            transition: 0.15s;
          }

          &:hover img {
            filter: contrast(1);
          }

          &:first-child {
            margin-left: 0;
          }
        }
      }
    }

    .copyright {
      text-align: center;
      margin-top: 90px;

      @media screen and (max-width: $break-small) {
        margin-top: 31px;
      }

      p {
        font-size: 13px;
      }
    }
  }
}

.phone {
  font-size: 24px;
  margin-top: 15px;
  margin-bottom: 15px;
  color: $white;
}

.callback {

}

.first-section-list {
  font-size: 20px;

  p:not(:last-child) {
    margin-bottom: 10px;
  }
}

.form-control {
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background-color: fade_out($white, .95);
  background-clip: padding-box;
  border: 2px solid $white;
  border-radius: 40px;
  outline: none;
  transition: all .15s ease;
  @include placeholder {
    color: fade_out($white, .25);
  }

  &:focus, &:hover {
    background-color: fade_out($white, 1);
    color: $white;

    @include placeholder {
      color: $white;
    }
  }
}

.contact-form {
  background-repeat: no-repeat;
  background-position: center;

  .form-group {
    input,
    textarea {
      padding: 20px;
    }

    input.form-control {
      height: auto;
    }

    textarea.form-control {
      height: 248px;
    }
  }

  .form-control:focus {
    box-shadow: none;
  }

  ::-webkit-input-placeholder {
    font-weight: 400;

  }

  :-moz-placeholder {
    font-weight: 400;

  }

  ::-moz-placeholder {
    font-weight: 400;

  }

  :-ms-input-placeholder {
    font-weight: 400;

  }

  .form-button {
    padding: 20px;
    width: 100%;
    font-size: 1rem;
    line-height: 1.5;
    border: 1px solid $white;
  }
}

.default-button {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  display: block;
  background: $white;
  text-align: center;
  color: $bg_color_next;
  border-radius: 40px;
  padding: 10px 15px;
  border: none;
  cursor: pointer;

  transition: all .15s ease;

  &:focus, &:hover {
    background-color: fade_out($white, .10);
  }
}

.page-header-hero {
  padding: 80px 0;

  @media screen and (max-width: $break-small) {
    padding: 40px 0;
  }
}

.fenomen-accordion {
  margin-top: 30px;

  .title {
    display: flex;
    justify-content: space-between;
  }

  &.ui.styled.accordion {
    box-shadow: none;
    background: none;

    .title {
      color: $white;
    }
  }
}